<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/konva.css">
	<title>Visual Learner!</title>
</head>

<body>

	<%- include ./partials/header -%>


	<% if(error && error.length > 0){ %>
	<div class="alert alert-danger" role="alert">
		<%= error %>
	</div>
	<% } %>
	<% if(success && success.length > 0){ %>
	<div class="alert alert-success" role="alert">
		<%= success %>
	</div>
	<% } %>

	<%# Main Content %>
	<div class="row " id="maincontent">

		<!-- Code -->
		<div class="col-md-4 py-0 " id="code">
			<div class="card-header bg-light rounded-0 colheader">
				<h2 class="colhead">
					Code
				</h2>
				<div class="holder-thing">
					<input type="range" min="1" max="100" value="50" class="slider">

					<button type="button" class="btn btn-outline-dark btn-light addRowBtn" data-toggle="tooltip"
						data-placement="bottom" title="Add Row">+</button>
				</div>
			</div>

			<div id="codeDiv">
				<div class="row-box">
					<textarea class="form-control form-control-sm invisibile-texty" rows="2" id="codeDivTA"></textarea>
				</div>
			</div>
		</div>

		<!-- Flowchart -->
		<div class="col-md-4 p-0 " id="flowchart">
			<div class="card-header bg-light rounded-0 colheader">
				<h2 class="colhead">
					Flowchart
				</h2>
				<button class="rrectangle" data-toggle="tooltip" data-placement="bottom" title="Terminal"></button>
				<button class="rectangle" data-toggle="tooltip" data-placement="bottom" title="Process"></button>
				<button class="parallelogram" data-toggle="tooltip" data-placement="bottom" title="I/O"></button>
				<button class="dici" data-toggle="tooltip" data-placement="bottom" title="Decision"></button>
				<button class="circle" data-toggle="tooltip" data-placement="bottom" title="Connector"></button>
				<button class="arrow" data-toggle="tooltip" data-placement="bottom" title="Arrow">&#8599;</button>

				<div class="holder-thing">
					<button type="button" class="btn btn-outline-dark btn-light" onclick="clBoard()"
						data-toggle="tooltip" data-placement="bottom" title="Clear Flowchart">
						<i class="fa fa-trash-alt"></i></button>
					<button type="button" class="btn btn-outline-dark btn-light addRowBtn" data-toggle="tooltip"
						data-placement="bottom" title="Add Row" onclick="addstageheight()">+</button>
				</div>

			</div>
			<div id="flowchartdiv">
			</div>
		</div>

		<!-- Psuedocode -->
		<div class="col-md-4 py-0 " id="psuedo">
			<div class="card-header bg-light rounded-0 colheader">
				<h2 class="colhead">
					Psuedocode
				</h2>
				<div class="holder-thing">
					<input type="range" min="1" max="100" value="50" class="slider">

					<button type="button" class="btn btn-outline-dark btn-light addRowBtn" data-toggle="tooltip"
						data-placement="bottom" title="Add Row">+</button>

				</div>
			</div>

			<div id="psuedoDiv">
				<div class="row-box">
					<textarea class="form-control form-control-sm invisibile-texty" id="psuedoDivTA"
						rows="2"></textarea>
				</div>
			</div>
		</div>

	</div>

	<%# Bottom Nav %>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" style="height: 60px;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
			<span class="navbar-toggler-icon"></span>
		</button>
		<button type="button" class="btn btn-outline-light" data-toggle="collapse" data-target=".sidebar"
			id="topicsbutton">
			<i class="fa fa-bars fa-lg"></i>
		</button>

		<div class="collapse navbar-collapse d-flex justify-content-between">
			<span id="subTopicName" class="text-light ml-2">Topic Name Here</span>
			<div class="navbar-nav d-flex justify-content-center ">
				<button type="button" class="btn btn-outline-light" id="prv">Previous</button>

				<span class="nav-link" id="shpN">0/0</span>

				<button type="button" class="btn btn-outline-light" id="nxt">Next</button>
			</div>
			<div>
			<button type="button" id="viewmode" class="btn btn-outline-light">View Mode</button>
			<button type="button" class="btn btn-outline-light " data-toggle="modal"
				data-target="#savemodal">Save</button>
			</div>
		</div>
	</nav>

	<%# Topic list Menu%>
	<aside class="col-1 col-sm-2 p-0 bg-dark collapse sidebar fade fixed-top h-100" id="TopicsSidebar">
		<nav class="navbar navbar-toggleable-xl navbar-dark bg-dark flex-column align-items-start">
			<div class="collapse navbar-collapse sidebar">
				<ul class="flex-column navbar-nav sidebarlist" id="mytopicslist">
					<li class="nav-item">
						<button type="button" class="btn btn-outline-light" data-toggle="modal"
							data-target="#newtopicModal">New Topic</button>
					</li>
					<%	if(currentUser){currentUser.topics.forEach(function(topic){  %>
					<li class="nav-item parent" id="<%=topic._id%>">
						<a class="nav-link" role="button">
							<%= topic.title %>
							<% if(topic.subtopics.length > 0) { %>
							<i class="fa fa-caret-down"></i>
							<% } %>
						</a>
						<button type="button" class="btn btn-outline-light" onclick="deletetopic(this)">
							<i class="fa fa-trash-alt text-danger"></i>
						</button>
						<ul class="flex-column navbar-nav sub-topic child sidebarlist" id="subtopicslist">
							<%topic.subtopics.forEach(function(subtopic){ %>
							<li id="<%=subtopic._id%>">
								<a onclick="loadBoard(this)" class="nav-link" role="button">
									&thinsp;<%= subtopic.name %>
								</a>
								<button type="button" class="btn btn-sm btn-outline-light" onclick="deletesub(this)">
									<i class="fa fa-trash-alt text-warning"></i>
								</button>
							</li>
							<%	}); %>
						</ul>
					</li>
					<%	});} %>
				</ul>
			</div>
		</nav>
	</aside>

	<%# New Topic Modal %>
	<div class="modal fade" id="newtopicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">New Topic</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/newtopic" method="post">
						<div class="form-group">
							<input type="text" class="form-control" name="topic" placeholder="New Topic"
								required="required">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info btn-lg btn-block">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<%# Save Subtopic modal %>
	<div class="modal fade" id="savemodal" tabindex="-1" role="dialog" aria-labelledby="savemodal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title exampleModalLongTitle" id="">Save to topic</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="form-group">
						Select Topic:
						<select class="dropdown" id="dropdown" name="Topicddl">
							<%	if(currentUser){currentUser.topics.forEach(function(topic){%>
							<option value="<%=topic._id%>"><%= topic.title %></option>
							<%	}); }%>
						</select>
						<br>
						Add new Sub:<input type="text" class="form-control" id="sbtopic" placeholder="Name"
							required="required">
					</div>
					<div class="form-group">
						<button id="saveBrd" class="btn btn-info btn-lg btn-block">Add</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="menu">
		<button type="button" class="btn btn-outline-dark" id="delete-button">Delete</button>
		<button type="button" class="btn btn-outline-dark" id="mvfrnt-button">To Front</button>
		<button type="button" class="btn btn-outline-dark" id="mvbck-button">To Back</button>
		<button type="button" class="btn btn-outline-dark" id="mvup-button">Move Up</button>
		<button type="button" class="btn btn-outline-dark" id="mvdwn-button">Move Down</button>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="https://unpkg.com/konva@4.0.14/konva.min.js"></script>
<script type="text/javascript" src="/konvascript.js"></script>
<script>
	function deletesub(item) {
		subid = $(item).parent().attr('id');
		topid = $(item).parent().parent().parent().attr('id');
		$.ajax({
			method: 'POST',
			url: '/delsubtopic',
			data: { subtopicID: subid, topicID: topid }
		})
			.done(function (data) {
				alert("done del");				
				$(item).parent().remove();

			});
	}
	function deletetopic(item) {
		topid = $(item).parent().attr('id');
		$.ajax({
			method: 'POST',
			url: '/deltopic',
			data: { topicID: topid }
		})
			.done(function (data) {
				alert("done del");
				$(item).parent().remove();
			});
	}
	$('#addRowBtn1').click(function () {
		$('#codeDiv').append('<div class="row-box"> <textarea class="form-control form-control-sm invisibile-texty" rows="1"></textarea> </div>');
		$('#psuedoDiv').append('<div class="row-box"> <textarea class="form-control form-control-sm invisibile-texty" rows="1"></textarea> </div>');
	});

	$('#addRowBtn2').click(function () {
		$('#codeDiv').append('<div class="row-box"> <textarea class="form-control form-control-sm invisibile-texty" rows="1"></textarea> </div>');
		$('#psuedoDiv').append('<div class="row-box"> <textarea class="form-control form-control-sm invisibile-texty" rows="1"></textarea> </div>');
	});

	$('.child').hide();
	$('.parent').click(function () {
		$(this).siblings('.parent').find('ul').slideUp();
		$(this).find('ul').slideToggle();
	});
	$('#saveBrd').click(function () {
		saveBoard();
	});
	$('.rrectangle').click(function () {
		newRRectangle(placeX, placeY);
		setshapepos();
	});
	$('.rectangle').click(function () {
		newRectangle(placeX, placeY);
		setshapepos();
	});
	$('.parallelogram').click(function () {
		newParallelo(placeX, placeY);
		setshapepos();
	});
	$('.dici').click(function () {
		newDici(placeX+ShapeWidth/2, placeY);
		setshapepos();
	});
	$('.circle').click(function () {
		newCircle(placeX, placeY);
		setshapepos();
	});
	$('.arrow').click(function () {
		newArrow();
	});
	$("#flowchartdiv").scroll(function() {
		scrollerror=$("#flowchartdiv").scrollTop();
	});
</script>

</html>