<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
	<link rel="stylesheet" href="/assets/stylesheets/home.css">
	<link rel="stylesheet" href="/assets/stylesheets/konva.css">
	<link rel="stylesheet" href="/assets/stylesheets/colstuff.css">
	<title>Visual Learner!</title>
</head>

<body>
	<%# Top Bar %>
	<nav class="navbar p-0 d-none d-lg-flex sticky-top">
		<div class="col-lg-4 p-0">
			<div class="card bg-light rounded-0 colheader flex-row justify-content-between p-2">
				<h3 class="colhead">
					Code
				</h3>
				<input type="range" min="1" max="100" value="100" class="cslider">
			</div>
		</div>
		<div class="col-lg-4 p-0">
			<div class="card bg-light rounded-0 colheader p-2" style="min-height: 59px;">
				<div class="row m-0 p-0">
					<div class="col-lg-4 p-0">
						<h3 class="colhead font-smaller">
							Flowchart
						</h3>
					</div>
					<div class="col-lg-8 p-0">
						<div class="btn-group" role="group" id="fcToolbox">
							<button type="button" class="btn rounded-0 btn-outline-dark btn-light" data-toggle="tooltip"
								data-placement="bottom" title="Terminal">
								<div class="Terminal"></div>
							</button>
							<button type="button" class="btn btn-outline-dark btn-light" data-toggle="tooltip"
								data-placement="bottom" title="Process">
								<div class="Process"></div>
							</button>
							<button type="button" class="btn btn-outline-dark btn-light" data-toggle="tooltip"
								data-placement="bottom" title="I/O">
								<div class="IO"></div>
							</button>
							<button type="button" class="btn btn-outline-dark btn-light" data-toggle="tooltip"
								data-placement="bottom" title="Decision">
								<div class="Decision"></div>
							</button>
							<button type="button" class="btn rounded-0 btn-outline-dark btn-light" data-toggle="tooltip"
								data-placement="bottom" title="Connector">
								<div class="Connector"></div>
							</button>
						</div>
						<button type="button" id="clearFC" class="btn btn-outline btn-light" onclick="clBoard()"
							data-toggle="tooltip" data-placement="bottom" title="Clear Flowchart">
							<i class="fa fa-trash-alt"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 p-0">
			<div class="card bg-light rounded-0 colheader flex-row justify-content-between p-2">
				<h3 class="colhead">
					Psuedocode
				</h3>
				<input type="range" min="1" max="100" value="100" class="pslider">
			</div>
		</div>
	</nav>

	<%# Main Content %>
	<div class="container-fluid m-0 p-0" id="maincontent">
		<button class="accordion" id="descPanelBtn">Description</button>
		<div class="panel" id="descPanel">
			<div class="invisibile-texty" id="Description" contenteditable="true"></div>
		</div>
		<div class="row m-0">
			<!-- Code -->
			<div class="col-lg-4 col-md-12 p-0" id="code">
				<div
					class="card bg-light rounded-0 colheader flex-row justify-content-between p-1 d-md-block d-lg-none">
					<h2 class="colhead">
						Code
					</h2>
					<input type="range" min="1" max="100" value="100" class="cslider">
				</div>
				<ul class="list-group" id="codeUL">
					<%for(i=0;i<=7;i++){%>
					<li class="list-group-item p-0">
						<div class="row-box"></div>
						<div class="invisibile-texty codetexty" contenteditable="true"></div>
					</li>
					<% } %>
				</ul>
			</div>

			<!-- Flowchart -->
			<div class="col-lg-4 col-md-12 p-0" id="flowchart">
				<div
					class="card bg-light rounded-0 colheader flex-row justify-content-between p-1 d-md-block d-lg-none">
					<h2 class="colhead">
						Flowchart
					</h2>
					<div class="btn-group" role="group" id="fcToolbox">
						<button type="button" class="btn rounded-0 btn-outline-dark btn-light" data-toggle="tooltip"
							data-placement="bottom" title="Terminal">
							<div class="Terminal"></div>
						</button>
						<button type="button" class="btn btn-outline-dark btn-light" data-toggle="tooltip"
							data-placement="bottom" title="Process">
							<div class="Process"></div>
						</button>
						<button type="button" class="btn btn-outline-dark btn-light" data-toggle="tooltip"
							data-placement="bottom" title="I/O">
							<div class="IO"></div>
						</button>
						<button type="button" class="btn btn-outline-dark btn-light" data-toggle="tooltip"
							data-placement="bottom" title="Decision">
							<div class="Decision"></div>
						</button>
						<button type="button" class="btn rounded-0 btn-outline-dark btn-light" data-toggle="tooltip"
							data-placement="bottom" title="Connector">
							<div class="Connector"></div>
						</button>
					</div>
					<button type="button" class="btn btn-outline btn-light" onclick="clBoard()" data-toggle="tooltip"
						data-placement="bottom" title="Clear Flowchart">
						<i class="fa fa-trash-alt"></i></button>
				</div>
				<div id="flowchartdiv" class="h-100 bg-white">
				</div>
			</div>

			<!-- Psuedocode -->
			<div class="col-lg-4 col-md-12 p-0" id="psuedo">
				<div
					class="card bg-light rounded-0 colheader flex-row justify-content-between p-1 d-md-block d-lg-none">
					<h2 class="colhead">
						Psuedocode
					</h2>
					<input type="range" min="1" max="100" value="100" class="pslider">
				</div>

				<ul class="list-group" id="psuedoUL">
					<%for(i=0;i<=7;i++){%>
					<li class="list-group-item p-0">
						<div class="row-box"></div>
						<div class="invisibile-texty psuedotexty" contenteditable="true"></div>
						<div class="rowboxdel">
							<button type="button" class="btn btn-sm btn-outline-light btn-dark"
								onclick="deleteRow(this)">
								<i class="fa fa-trash-alt"></i>
							</button>
						</div>
					</li>
					<% } %>
				</ul>
			</div>

		</div>
	</div>
	<%# Bottom Nav %>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-bottom" id="botnav">
		<div class="navbar-header">
			<button type="button" id="topicToggler" class="btn btn-outline-light" data-toggle="collapse"
				data-target="#mySidenav">
				<i class="fa fa-bars fa-lg"></i>
			</button>
			<span class="navbar-brand d-none d-md-inline p-2" id="subTopicName">Topic > Subtopic</span>
		</div>
		<div class="abs-center-x" id="viewControls">
			<button type="button" id="prv" class="btn btn-outline-light d-none">
				< </button>
					<button type="button" id="viewmode" class="btn btn-outline-light">View Mode</button>
					<button type="button" id="nxt" class="btn btn-outline-light d-none">></button>
		</div>

		<div id="addrowdiv">
			<button type="button" id="genPDF" class="btn btn-outline-light round" data-toggle="tooltip"
				data-placement="top" title="Print PDF">Generate PDF</button>
			<button type="button" id="addRow" class="btn btn-outline btn-dark rounded-0 py-0 px-2" data-toggle="tooltip"
				data-placement="top" title="Add Row"><span class="fa-2x">+</span></button>
		</div>
	</nav>

	<%# Topic list Menu%>
	<div id="mySidenav" class="sidenav collapse fade">

		<div>
			<h2 class="text-light px-2 title-text">Visual Learner</h2>
		</div>

		<div id="topicInfo">
			<div class="p-2 d-flex justify-content-center">
				<button type="button" onclick="newTopic()" class="btn btn-outline-light">New Topic</button>
			</div>
			<hr class="hrTopics" />
			<ul class="topiclist" id="topiclist">
				<%	if(currentUser){currentUser.topics.forEach(function(topic){  %>
				<li id="<%=topic._id%>" class="topiclistLI">
					<span class="dir topiclisttext"><%= topic.title %></span>
					<button style="margin-right: 11px;" type="button" class="btn btn-sm btn-outline-light float-right"
						data-updated="<%=topic.updated%>" data-created="<%=topic.created%>" onclick="showInfo(this)">
						<span class="fa fa-info text-light"></span>
					</button>
					<button type="button" class="btn btn-sm btn-outline-light float-right" onclick="deletetopic(this)">
						<i class="fa fa-trash-alt text-secondary"></i>
					</button>

					<ul class="subtopiclist">
						<%topic.subtopics.forEach(function(subtopic){ %>
						<li id="<%=subtopic._id%>">
							<span class="topiclisttext" onclick="loadSubtopic(this)"><%= subtopic.name %></span>
							<button type="button" class="btn btn-sm btn-outline-light float-right"
								data-updated="<%=subtopic.updated%>" data-created="<%=subtopic.created%>"
								onclick="showInfo(this)">
								<span class="fa fa-info text-light"></span>
							</button>
							<button type="button" class="btn btn-sm btn-outline-light float-right"
								onclick="deletesub(this)">
								<i class="fa fa-trash-alt text-light"></i>
							</button>
						</li>
						<%	}); %>
					</ul>
				</li>
				<hr class="hrTopics" />
				<%	});} %>
			</ul>
		</div>
		<% if(currentUser){ %>
		<div id="userInfo" class="d-flex flex-column mx-auto bd-highlight">
			<div class="d-flex justify-content-between">
				<button type="button" class="btn btn-outline-light" id="Save">Save</button>
				<button type="button" class="btn btn-outline-light" id="Update">Update</button>
			</div>
			<div class="d-flex justify-content-center p-3 border border-dark">
				<%= currentUser.first_name %>&nbsp;&nbsp; <%= currentUser.last_name %>
			</div>
			<div class="d-flex justify-content-center">
				<a class="text-link dark" href="/logout">Logout</a>
			</div>
		</div>
		<% } %>
	</div>

	<div id="menu">
		<button type="button" class="btn btn-outline-dark" id="delete-button">Delete</button>
		<button type="button" class="btn btn-outline-dark" id="mvfrnt-button">To Front</button>
		<button type="button" class="btn btn-outline-dark" id="mvbck-button">To Back</button>
		<button type="button" class="btn btn-outline-dark" id="mvup-button">Move Up</button>
		<button type="button" class="btn btn-outline-dark" id="mvdwn-button">Move Down</button>
		<button type="button" class="btn btn-outline-dark" id="trArr-button">True Arrow</button>
		<button type="button" class="btn btn-outline-dark" id="flArr-button">False Arrow</button>
	</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="https://unpkg.com/konva@4.0.14/konva.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
	$('#genPDF').click(function printIt() {

		window.print();
	});

	$(document).mouseup((e) => {
		var container = $("#mySidenav");
		if (!container.is(e.target) && container.has(e.target).length === 0) {
			container.collapse("hide");
		}
	});

	$("#descPanelBtn").click((e) => {
		e.target.classList.toggle("active");
		var panel = e.target.nextElementSibling;
		if (panel.style.maxHeight) {
			panel.style.maxHeight = null;
		} else {
			panel.style.maxHeight = panel.scrollHeight + "px";
		}
	});

	$('.dir').click((e) => {
		e.stopPropagation();
		$(this).parent().children("ul").slideToggle();
	});

	function setrowsIndex() {
		let rows = 0;
		$(".codetexty").each(function (index, element) {
			$(this).siblings('.row-box').html("<span class='codeCounter'>" + index + "</span>");
			rows = index;
		});
		if (rows < 7) {
			$("#botnav").removeClass("sticky-bottom").addClass("fixed-bottom");
		}
		else {
			$("#botnav").removeClass("fixed-bottom").addClass("sticky-bottom");
		}
		console.log("hi setting rows");
	}

	$('#addRow').click(() => {
		$('#codeUL').append(addtexty("codetexty"));
		$('#psuedoUL').append(addtexty("psuedotexty"));
		StageHeight = StageHeight + rowSize;
		drawStage();
		setrowsIndex();

	});

	function cuteHide(el) {
		el.animate({ opacity: '0' }, 150, function () {
			el.animate({ height: '0px' }, 150, function () {
				el.remove();
			});
		});
	}

	function deleteRow(item) {
		let rowNumber = $(item).parent().parent().index();
		cuteHide($("#codeUL li").eq(rowNumber));
		cuteHide($("#psuedoUL li").eq(rowNumber));
		setrowsIndex();
		deletestagerow(rowNumber);
	}

	async function saveSwal(options) {
		let { value: formValues } = await Swal.fire({
			title: 'Save Subtopic',
			html:
				`<select class="swal2-select" id="swal-input1">
					<option disabled>Topic</option> 
				${options}
				 </select> 
				 <div class="form-group">
    				<label for="swal-input2">Subtopic</label>
    				<input type="text" class="form-control" id="swal-input2" aria-describedby="t1" placeholder="Enter title">
    				<small id="t1" class="form-text text-muted">Name your new subtopic</small>
  				</div>`,
			focusConfirm: false,
			preConfirm: () => {
				if ($("#swal-input2").val()!="") {
					return [
						$("#swal-input1").val(),
						$("#swal-input1 option:selected").text(),
						document.getElementById('swal-input2').value
					]
				}
				else {
					Swal.showValidationMessage('Please fill all fields!')
				}
			}
		});
		return formValues;
	}

	async function updateSwal() {
		console.log($("#" + topid + " .topiclisttext").html());
		console.log($("#" + subid + " .topiclisttext").html());
		let { value: formValues } = await Swal.fire({
			title: 'Update Subtopic',
			html:
				`<div class="form-group">
    				<label for="swal-input1">Topic</label>
    				<input type="text" class="form-control" id="swal-input1" value="${$("#" + topid + " .topiclisttext").html()}" aria-describedby="t1">
    				<small id="t1" class="form-text text-muted">Update your topic name too?</small>
  				</div>
				<div class="form-group">
    				<label for="swal-input2">Subtopic</label>
    				<input type="text" class="form-control" id="swal-input2" value="${$("#" + subid + " .topiclisttext").html()}" aria-describedby="t1">
    				<small id="t1" class="form-text text-muted">Update your subtopic name too?</small>
  				</div>`,
			focusConfirm: false,
			preConfirm: () => {
				return [
					$("#swal-input1").val(),
					$("#swal-input2").val(),
				]
			}
		});
		return formValues;
	}

	function showInfo(item) {
		Swal.fire({
			title: 'Information',
			html: `<p><strong>Created on: </strong> ${$(item).attr('data-created').substr(0, 24)}</p>
				<p><strong>Last updated on: </strong> ${$(item).attr('data-updated').substr(0, 24)}</p>`,
			confirmButtonText: 'OK'
		});
	}

	$("#Save").click(async () => {
		let optionsarr = $(".topiclistLI").map((i, item) => { return `<option value="${item.id}">${$(item).find(".topiclisttext").html()}</option>` });
		let options = "";
		optionsarr.each((index, option) => {
			options += option;
		})
		console.log(options);
		saveSwal(options).then(function (vals) {
			console.log(vals);
			if(!vals)return;
			console.log("Saving: " + vals);
			console.log(saveBoard(vals));
			saveSubtopic(saveBoard(vals));
		});
	});

	$("#Update").click(async () => {
		if (topid && subid) {
			updateSwal().then(function (vals) {
				if (vals) {
					console.log("Updating: " + vals);
					console.log(saveBoard(vals));
					updateSubtopic(saveBoard(vals));
				}
				return;
			});
		}
		else {
			Swal.fire({
				title: 'Open a sub first!',
				icon: 'error',
				confirmButtonText: 'OK'
			});
		}
	});

	$('.cslider').change((e) => {
		$("#codeUL").fadeTo(20, e.target.value / 100);
	});

	$('.pslider').change((e) => {
		$("#psuedoUL").fadeTo(20, e.target.value / 100);
	});

</script>
<script type="text/javascript" src="/scripts/konvascript.js"></script>
<script type="text/javascript" src="/scripts/konvashapes.js"></script>
<script type="text/javascript" src="/scripts/topics.js"></script>
<script type="text/javascript" src="/scripts/subtopics.js"></script>

</html>